@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Hello, @ViewBag.UserName!</h1>
    <p>Welcome to your dashboard. We are glad to have you back.</p>
</div>
