@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="text-center">
        <h1 class="fw-bold">WELCOME TO HOMEPAGE</h1>
        <p class="font-weight-light mb-0">Excellence. Simply Delivered</p>
    </div>
</header>
